*{
    margin: 0px;
    padding: 0px;
    font-family: char;
    text-transform: capitalize;
}

@font-face {
  font-family: 'char';
    src: url('Magnolia Script.otf');
}

 body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 100vh; 
     margin: 0;
  cursor: url('cursor.cur'),grab;

  }
  
  h1{
    text-align: center;
  }
  .FORM {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
;
    height: 100vh;
     border-radius: 10px; 
  }
 .logo{
  margin-top: 30px
 }

  .logo h1{
    font-size: 80px;
  }
  
  form{
    /* height: 450px; */
    margin-top: 35px;
    width: 400px;
    gap: 10px;
    margin-left: 40px;
  }

  img{
    margin-top: 10px;
    margin-left: 50px;
    width: 450px;
  }
.cont{
  margin-bottom: 5px;
}
 
button{
  width: 70px;
}
.sub:hover{
  cursor: grab;
}
.sub:active{
  cursor: grabbing;
}

.cont {
    font-size: 25px;
    border-radius: 10px;
}

.cont:hover{
  background-image: linear-gradient(45deg, rgb(73, 3, 117),rgb(150,0,87),rgb(214,0,66),rgb(235,71,47),rgb(247,206,28));
    color: white;
}
#cont:hover{
  background-color: linear-gradient(45deg, rgb(73, 3, 117),rgb(150,0,87),rgb(214,0,66),rgb(235,71,47),rgb(247,206,28));
}
span:hover{
  background-image: linear-gradient(45deg, rgb(73, 3, 117),rgb(150,0,87),rgb(214,0,66),rgb(235,71,47),rgb(247,206,28));
  -webkit-background-clip: text;
      color: transparent;
      cursor: grab;
}