*{
    margin: 0px;
    padding: 0px;
    font-family: char;
}

@font-face {
    font-family: 'char';
    src: url('Magnolia Script.otf');
}
header{
    background-color: rgb(199, 199, 199);
    height: 100%;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

li{
    list-style-type: none;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.logo-n {
    background: linear-gradient(45deg, rgb(68,0,111),rgb(116, 29, 170),rgb(162, 17, 252),rgb(214,0,66),rgb(235,71,47),rgb(247,206,28));
    -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
        font-size: 110px;
        border: 100%;
}

.logo {
   width: 455px;
}
.nav-items{
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 12px;
}
.nav-items-li {
    background: linear-gradient(45deg, rgb(68,0,111),rgb(116, 29, 170),rgb(162, 17, 252));
    -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      font-size: 25px;
}
button{
    border-radius: 50px;
    width: 100px;
    height: 50px;
    border: 2px double rgb(242,148,37);
}
.nav-items-li:hover{ 
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition-duration: 0.6s;
        
        cursor: pointer;  
    background-image: linear-gradient(45deg, rgb(73, 3, 117),rgb(150,0,87),rgb(214,0,66),rgb(235,71,47),rgb(247,206,28));
}

.about-us-1-0 {
    background-color: gainsboro;
    margin: 10px;
    border-radius: 5px;
}

.about-us-1{
   font-size: 35px;
   padding: 20px;
   background: black;
   -webkit-background-clip: text;
       color: transparent;
}

.d1, .d2, .d3{
    text-align: center;
    background-color:black;
    -webkit-background-clip: text;
        color: transparent;
}

.d1:hover,.d2:hover, .d3:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition-duration: 0.6s;
    cursor: pointer;  
background-image: linear-gradient(45deg, rgb(73, 3, 117),rgb(150,0,87),rgb(214,0,66),rgb(235,71,47),rgb(247,206,28));

}

.about-us-1:hover{
    cursor: pointer;
    background-image: linear-gradient(45deg, rgb(86, 8, 134), rgb(79, 37, 105), rgb(139, 77, 177), rgb(174, 57, 247), rgb(117, 65, 150), rgb(73, 3, 117));
}

.donate-containers {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
}
.container-1 {
        background-color: gainsboro;
        margin: 10px;
        border-radius: 15px;
        padding: 15px;
        border: 2px solid rgb(128, 128, 128)
}
.container-2 {
        background-color: gainsboro;
        margin: 10px;
        border-radius: 15px;
        padding: 15px;
        border: 2px solid rgb(128, 128, 128)
}
.container-3 {
        background-color: gainsboro;
        margin: 10px;
        border-radius: 15px;
        padding: 15px;
        border: 2px solid rgb(128, 128, 128)
}

.cont-1{
    width: 180px;
}

 .cont-2, .cont-3{
    width: 200px;
}

.donate-containers input{
    width: 100px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;  
    background-image: linear-gradient(45deg, rgb(73, 3, 117),rgb(150,0,87),rgb(214,0,66),rgb(235,71,47),rgb(247,206,28));

}

.container-1  input:hover, .container-2  input:hover, .container-3  input:hover{
    cursor: pointer;
    filter: drop-shadow(10px 10px 5px #888888);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
     transform: scale(1.2);
}

.footer{
    background-color: black;
    color: white;
}

.footer .f{
    font-size: 35px;
    padding-left: 20px;
    padding-top: 10px;
    color: rgb(111, 0, 255);
}

.footer .f:hover{
    color: rgb(214,0,66);
}
.founders {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 35px;
    list-style: none;
    background: linear-gradient(45deg, rgb(68,0,111),rgb(116, 29, 170),rgb(162, 17, 252),rgb(214,0,66),rgb(235,71,47),rgb(247,206,28));
    -webkit-background-clip: text;
        color: transparent;
}

.founders li:hover{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition-duration: 0.6s;
        background: linear-gradient(45deg, rgb(214,0,66),rgb(235,71,47),rgb(247,206,28));
        -webkit-background-clip: text;
            color: transparent;
        cursor: pointer;
      
}
.clicks {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    font-size: 35px;
    background: linear-gradient(45deg, rgb(68,0,111),rgb(116, 29, 170),rgb(162, 17, 252),rgb(214,0,66),rgb(235,71,47),rgb(247,206,28));
    -webkit-background-clip: text;
        color: transparent;
}

/* .clicks{
    
} */
.fa-brands:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition-duration: 0.6s;
        background: linear-gradient(45deg, rgb(214,0,66),rgb(235,71,47),rgb(247,206,28));
        -webkit-background-clip: text;
            color: transparent;
        cursor: pointer;
          
}

/* .fa-instagram {
   
} */
/* .fa-facebook {
    
} */

.crs{
    font-size: 20px;
    padding: 10px;
}

